@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<body>
    <div> 
        @using (Html.BeginForm("Search", "Home"))
        {
            int counter = 0;
            foreach (string name in ViewBag.genres)
            {
                if (ViewBag.genresSelected != null)
                {
                    <label><input type="checkbox" name="genres" value=@name checked="@( ((List<string>)ViewBag.genresSelected).Contains(name.Split(' ')[0]) )" />@name</label>
                }
                else
                {
                    <label><input type="checkbox" name="genres" value=@name />@name</label>
                }
                counter++;
                if (counter > 4)
                {
                    <br />
                    counter = 0;
                }
            }
            
            <input type="number" step="any" min="1" max="10" id="scoreText" name="scoreText" placeholder="Average score" value="@ViewBag.score"/>
            <input type="submit" id="submitSearch" value="Search" />
        }
        <br />
        <table id="filmSearch">
            <thead>
                <tr>
                    <th>Film Title</th>
                    <th>Average Score</th>
                    <th>Details Link</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (DataModels.movie movie in ViewBag.movieList)
                    {
                        <tr>
                            <td>@movie.title</td>
                            <td>@movie.vote_average</td>
                            <td>@Html.ActionLink("Details", "Movie", new { Id = @movie.id })</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>
