@{
    Layout = null;
    List<DataModels.genre> genresSelected = (ViewBag.genresSelected == null) ? 
        new List<DataModels.genre>() : (List<DataModels.genre>)ViewBag.genresSelected;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        @using (Html.BeginForm("Search", "Home"))
        {
            int counter = 0;
            foreach (DataModels.genre name in ViewBag.genres)
            {  
                <label><input type="checkbox" name="genres" value=@name.id checked="@genresSelected.Any(g => g.name == name.name)" />@name.name</label>
                
                counter++;
                if (counter > 4)
                {
                    <br />
                    counter = 0;
                }
            }
            <br />
            <input type="number" step="any" min="1" max="10" id="scoreText" name="scoreText" placeholder="Average score" value="@ViewBag.score"/>
            <input type="submit" id="submitSearch" value="Search" />
        }
        <br />
        <table id="filmSearch" class="table">
            <thead>
                <tr>
                    <th>Film Title</th>
                    <th>Average Score</th>
                    <th>Details Link</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (DataModels.movie movie in ViewBag.movieList)
                    {
                        <tr>
                            <td>@movie.title</td>
                            <td>@movie.vote_average</td>
                            <td>@Html.ActionLink("Details", "Movie", new { Id = @movie.id })</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>
